body {
    font-family: arial;
}

.container {
    border: 1px solid rgb(121, 209, 224);
    margin: 5px;
    border-radius: 5px;
    padding: 0px 10px;
}

.header {
    margin-bottom: 40px;
}

.btn {
    border: 0;
    border-radius: 5px;
    float: right;
    margin: 2px;
    padding: 12px;
    cursor: pointer;
    opacity: 80%;
}
.btn:hover {
    opacity: 100%;
}

.items {
    margin-top: 40px;
}

.item {
    border: 1px solid rgb(121, 209, 224);
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    margin: 5px;
}

.item div {
    margin: 5px 0;
}

.totalPrice {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px;
}

.addItem {
    margin: 40px 10px;
}

.form-control label {
    display: block;
}

.form-control input {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    border: 1px solid rgb(121, 209, 224);
    border-radius: 5px;
}

.submitBtn {
    display: block;
    font-size: 1em;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(42, 57, 61);
    color: white;
    cursor: pointer;
}
